.them_giao_dich{
  table{
    border-collapse: collapse;
    td{
      font-size: 14px;
      padding: 5px;
      border:1px solid #dedede;
      input,select,textarea{
        margin: 0px !important;
      }
    }
  }
  .title{
    margin-bottom: 15px;
    h2{
      margin: 0;
      text-transform: uppercase;
      font-size: 20px;
      color: #2656B1;
      margin-bottom: 10px;
    }
    input{
      width: 100%;
      border-radius: 0px;
      border:1px solid #dedede;
    }
  }
  .phuc_hoi{
    background: #2A7AFE;
    color: #FFF;
    width: fit-content;
    padding: 5px 10px;
    display: block;
    margin: auto;
    margin-top: -10px;
    margin-bottom: 35px;
    transition: 0.5s;
    &:hover{
      background: #369046;
    }
  }
  .alert_tk_sucess{
    margin-bottom: 15px;
  }
}

.single-giao_dich {
  .alert_tk_fail{
    margin-top: -15px;
  }
}

.add_hotel{
  display: flex;
  .item:nth-child(2){
    width: 500px;
    margin-left: 15px;
    li{
      width: 100%;
      .loai_phong{
        display: flex;
        flex-wrap: wrap;
        .rom{
          background: #2A7AFE;
          color: #FFF;
          border-radius: 25px;
          margin-right: 10px;
          padding: 5px 10px;
          margin-bottom: 10px;
          i{
            color: #eae9e9;
            cursor: pointer;
            transition: 0.5s;
            &:hover{
              color: #000;
            }
          }
        }
      }
      strong{
        text-transform: uppercase;
        margin-bottom: 15px;
        margin-top: 15px;
        display: block;
      }
      .add_rom{
        background: green;
        color: #FFF;
        text-transform: uppercase;
        border-radius: 0px;
        border:none;
        outline: none;
        cursor: pointer;
        padding: 8px 25px;
        margin-top: 15px;
      }
    }
    li:last-child{
      width: 100% !important;
    }
  }
}

span.reply_chat{
  display: block;
  width: 100%;
  border-radius: 5px !important;
  overflow: hidden;
  color: #FFF !important;
  position: relative;
  margin-bottom: 10px;
  span{
    display: block;
    width: 100%;
    background: #F1F0F0;
    padding: 5px 15px;
    color: #828282 !important;
  }
  i{
    font-size: 18px;
    color: black;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0%,-50%);
    cursor: pointer;
  }
}

.send_chat{
  background: #F1B254;
  td:first-child{
    span{
      display: block;
      width: 100%;
      border-radius: 25px;
      color: #FFF;
      position: relative;
      span{
        display: block;
        width: 100%;
        background: #ff5f66;
        padding: 5px 15px;
        margin-top: 10px;
      }
      i{
        font-size: 18px;
        color: black;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(0%,-50%);
        cursor: pointer;
      }
    }
  }
  .btn_send_chat{
    width: 150px;
    height: 35px;
    display: block;
    outline: none;
    border:none !important;
    color: #FFF !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: #2A7AFE;
    transition: 0.5s;
    &:hover{
      cursor: pointer;
      background: green;
    }
  }
  .tin_nhan_chat{
    padding: 5px 10px;
    margin-top: 10px !important;
  }
  .trang_thai_chat{
    background: #FFF;
  }
  input,select{
     border:none;
    height: 30px !important;
  }
  textarea{
    border: none;
  }
}

.show_chat{
  td{
    border:1px solid #dedede !important;
    text-align: center;
    p{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0px;
    }
  }
  span{
    color: red;
    font-weight: 500;
  }
  span.tn{
    color: #333;
    font-weight: 500;
  }
  td:first-child{
    text-align: justify;
    padding: 10px 10px;
    font-weight: bold;
    textarea{
      height: 80px;
      padding: 10px;
      border:none;
      display: none;
    }
  }
  p.change_update_send_mess{
    display: flex;
    flex-wrap: unset !important;
    justify-content: center;
    align-items: center;
  }
  .btn_update_chat,.reply{
    width: 80px;
    height: 31px;
    display: block;
    text-align: center;
    outline: none;
    border:none;
    color: #FFF !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: green;
    transition: 0.5s;
    margin: 0 5px;
    &:hover{
      cursor: pointer;
      background: #2A7AFE;
    }
  }
  .reply{
    background: #1e6abc;
  }
  .btn_edit_chat{
    @extend .btn_update_chat;
    background: red;
  }
  .empy{
    padding: 10px !important;
    text-align: center !important;
  }

  thead{
    td:first-child{
      text-align: center !important;
    }
  }
  input,select,textarea{
    background: #FFF !important;
    border-color: transparent;
  }
}

.send_chat{
  input,select,textarea{
    background: #FFF !important;
    border-color: transparent;
  }
}

.border_edit{
  border:1px solid red !important;
}

table#show_chat {
  margin-bottom: 0px;
  td{
    align-items: center;
    padding: 5px 5px;
  }
  .cmt{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .img{
    display: flex;
    align-items: start;
    margin-right: 10px;
    width: 32px;
    img{
      box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
    }
  }
  .content{
    width: calc(100% - 42px);
  }
  img{
    width: 32px;
    background-color: #fff;
    border-radius: 50%;
  }
}

.quantri_admin .content_admin{
  padding-bottom: 120px;
}

.check_color{
  border:1px solid red !important;
  td{
    background: #D1E2FF;
    border:1px solid #FFF !important;
  }
  td:first-child{
    border-left:1px solid #D1E2FF !important;
  }
  td:last-child{
    border-right:1px solid #D1E2FF !important;
  }
}

ul.price_count{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin: 0px;
  li{
    width: 50%;
  }
}

.quantri_admin .them_giao_dich table table td{
  position: relative;
  .popup_get_data_list{
    position: absolute;
    width: 713px;
    display: none;
    left: 4px;
    top: 20px;
    background: #fff;
    z-index: 1000;
    padding: 10px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
    ul{
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      li{
        width: 20%;
        border:1px solid #eaeaea;
        margin-left: -1px;
        margin-top: -1px;
        padding: 5px;
        transition: 0.5s;
        display: flex;
        align-items: center;
      }
      li:nth-child(2){
        width: 12%;
      }
      li:nth-child(5){
        width: 28%;
      }
      li:nth-child(4){
        width: 15%;
      }
      li:nth-child(3){
        width: 25%;
      }
    }
    .list_show{
      ul{
        &:hover{
          cursor: pointer;
          li{
            background: #BECF90;
          }
        }
      }
      li{
        font-size: 12px;
        input{
          background: transparent;
          border:none;
          padding: 0 !important;
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
    p{
      width: calc(100% - 5px);
      margin: 0px;
      margin-top: -1px;
      text-align: center;
      border:1px solid #eaeaea;
      padding: 10px;
    }
  }
}

