.them_giao_dich{
  table{
    border-collapse: collapse;
    td{
      font-size: 14px;
      padding: 5px;
      border:1px solid #dedede;
      input,select,textarea{
        margin: 0px !important;
      }
    }
  }
  .title{
    margin-bottom: 15px;
    h2{
      margin: 0;
      text-transform: uppercase;
      font-size: 20px;
      color: #2656B1;
      margin-bottom: 10px;
    }
    input{
      width: 100%;
      border-radius: 0px;
      border:1px solid #dedede;
    }
  }
  .phuc_hoi{
    background: #2A7AFE;
    color: #FFF;
    width: fit-content;
    padding: 5px 10px;
    display: block;
    margin: auto;
    margin-top: -10px;
    margin-bottom: 35px;
    transition: 0.5s;
    &:hover{
      background: #369046;
    }
  }
  .alert_tk_sucess{
    margin-bottom: 15px;
  }
}

.single-giao_dich {
  .alert_tk_fail{
    margin-top: -15px;
  }
}

.add_hotel{
  display: flex;
  flex-wrap: wrap;
  h1{
    text-align: left;
    font-size: 16px;
    width: 100%;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .item{
    width: 100%;
    ul{
      padding:10px 5px;
    }
    li{
      width: 100%;
      .loai_phong{
        display: flex;
        flex-wrap: wrap;
        .rom{
          background: #2A7AFE;
          color: #FFF;
          border-radius: 25px;
          margin-right: 10px;
          padding: 5px 10px;
          margin-bottom: 10px;
          i{
            color: #eae9e9;
            cursor: pointer;
            transition: 0.5s;
            &:hover{
              color: #000;
            }
          }
        }
      }
      strong{
        text-transform: uppercase;
        margin-bottom: 15px;
        margin-top: 15px;
        display: block;
      }
      .add_rom{
        background: green;
        color: #FFF;
        text-transform: uppercase;
        border-radius: 0px;
        border:none;
        outline: none;
        cursor: pointer;
        padding: 8px 25px;
        margin-top: 15px;
      }
    }
    li:last-child{
      width: 100%;
    }
    .show_list_ds{
      margin-left: 15px;
    }
  }
  .item:nth-child(1){
    ul{
      width: 100%;
      padding:10px 5px;
      li{
        width: 16.66%;
        input{
          height: 25px;
        }
      }
      li:last-child{
        width: 16.66% !important;
      }
    }
  }
  .view_detail_hotel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    button{
      border: none;
      height: 30px;
      width: 100px;
      margin: 0px;
      border-radius: 25px;
      padding: 0px;
      outline: none;
      line-height: 25px;
      background: #F1B254;
      text-transform: uppercase;
      font-weight: bold;
      color: #ffffff;
      cursor: pointer;
      margin-left: 10px;
    }
    input{
      height: 30px;
      width: 400px;
      border-radius: 0px;
      outline: none;
      margin-left: 10px;
    }
  }
  .item.gallery{
    ul{
      width: calc(100% + 1px);
      display: flex;
      flex-wrap: wrap;
      padding: 12px 0px;
      padding-bottom: 0px;
      min-height: 225px;
      li{
        width: 20%;
        margin: 0px;
        cursor: pointer;
        margin-bottom: 15px;
        position: relative;
        &:hover{
          cursor: zoom-in;
        }
        .btn_add_img{
          cursor: pointer;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          z-index: 10;
          button,input{
            width: 100px;
            height: 30px;
            background: forestgreen;
            color: #FFF;
            font-weight: bold;
            outline: none;
            border: none;
            border-radius: 25px;
          }
          input{
            position: absolute;
            top: -15px;
            left: -50px;
            opacity: 0;
            z-index: 100;
            &:hover{
              cursor: pointer;
            }
          }
        }
        #upload_button input[type=file] {
          display:none;
        }
        .img{
          position: relative;
          &:after{
            content: "";
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            background: rgba(0,0,0,0.3);
            position: absolute;
            z-index: 10;
            display: none;
          }
        }
        .img.active{
          &:after{
            display: block;
          }
        }
        i{
          color: #FFF;
          font-size: 24px;
          position: absolute;
          right: 12px;
          top: 0px;
          padding: 10px;
          z-index: 20;
          transition: 0.5s;
          &:hover{
            cursor: pointer;
            color: darkred;
          }
        }
        .fa-search{
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          text-align: center;
        }
        .img{
          background-repeat: no-repeat !important;
          background-position: center center !important;
          background-size: cover !important;
          padding:100px 5px;
          box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
          //transform: perspective(200px);
        }
      }
      li:last-child{
        width: 20% !important;
      }
    }
  }
}
.active-draggable{
  .img{
    transform: rotate(4deg) !important;
  }

}

.ui-sortable-handle{
  transform: rotate(0deg);
}
.hide{
  display: none;
}
select{
  max-height: 300px;
  overflow-y: scroll;
}
.load_url_iframe{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999999;
  background: rgba(0,0,0,0.6);
  top: 0px;
  left: 0px;
  display: none;
  .screen{
    width: 90%;
    margin-left: 5%;
    height: 90vh;
    margin-top: 5vh;
    background: #FFF;
    border: 4px solid orange;
    iframe{
      width: 100%;
      height: 100%;
    }
  }
}

#lightgallery{
  position: relative;
}

.btn_close{
  background: none;
  color: red;
  outline: none;
  border: none;
  position: fixed;
  right: 3%;
  top: 5vh;
  font-size: 28px;
  padding: 0px;
  cursor: pointer;
}

.lg-outer{
  z-index: 999999999999999;
}

.pop_ten_khach_san_gd{
  ul{
    li{
      width: 13.33% !important;
      justify-content: center;
      input{
        text-align: center;
      }
      span{
        strong{
          color: #2A7AFE;
        }
      }
    }
    li:nth-child(1){
      width: 30% !important;
      justify-content: start;
    }
    li:nth-child(4){
      width: 30% !important;
    }
  }
}

.list_show{
  li{
    strong{
      color: #2A7AFE;
    }
    overflow: hidden;
  }
}

span.reply_chat{
  display: block;
  width: 100%;
  border-radius: 5px !important;
  overflow: hidden;
  color: #FFF !important;
  position: relative;
  margin-bottom: 10px;
  span{
    display: block;
    width: 100%;
    background: #F1F0F0;
    padding: 5px 15px;
    color: #828282 !important;
  }
  i{
    font-size: 18px;
    color: black;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0%,-50%);
    cursor: pointer;
  }
}

.send_chat{
  background: #F1B254;
  td:first-child{
    span{
      display: block;
      width: 100%;
      border-radius: 25px;
      color: #FFF;
      position: relative;
      span{
        display: block;
        width: 100%;
        background: #ff5f66;
        padding: 5px 15px;
        margin-top: 10px;
      }
      i{
        font-size: 18px;
        color: black;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(0%,-50%);
        cursor: pointer;
      }
    }
  }
  .btn_send_chat{
    width: 150px;
    height: 35px;
    display: block;
    outline: none;
    border:none !important;
    color: #FFF !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: #2A7AFE;
    transition: 0.5s;
    &:hover{
      cursor: pointer;
      background: green;
    }
  }
  .tin_nhan_chat{
    padding: 5px 10px;
    margin-top: 10px !important;
  }
  .trang_thai_chat{
    background: #FFF;
  }
  input,select{
     border:none;
    height: 30px !important;
  }
  textarea{
    border: none;
  }
}

.show_chat{
  td{
    border:1px solid #dedede !important;
    text-align: center;
    p{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0px;
    }
  }
  span{
    color: red;
    font-weight: 500;
  }
  span.tn{
    color: #333;
    font-weight: 500;
  }
  td:first-child{
    text-align: justify;
    padding: 10px 10px;
    font-weight: bold;
    textarea{
      height: 80px;
      padding: 10px;
      border:none;
      display: none;
    }
  }
  p.change_update_send_mess{
    display: flex;
    flex-wrap: unset !important;
    justify-content: center;
    align-items: center;
  }
  .btn_update_chat,.reply{
    width: 80px;
    height: 31px;
    display: block;
    text-align: center;
    outline: none;
    border:none;
    color: #FFF !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: green;
    transition: 0.5s;
    margin: 0 5px;
    &:hover{
      cursor: pointer;
      background: #2A7AFE;
    }
  }
  .reply{
    background: #1e6abc;
  }
  .btn_edit_chat{
    @extend .btn_update_chat;
    background: red;
  }
  .empy{
    padding: 10px !important;
    text-align: center !important;
  }

  thead{
    td:first-child{
      text-align: center !important;
    }
  }
  input,select,textarea{
    background: #FFF !important;
    border-color: transparent;
  }
}

.send_chat{
  input,select,textarea{
    background: #FFF !important;
    border-color: transparent;
  }
}

.border_edit{
  border:1px solid red !important;
}

table#show_chat {
  margin-bottom: 0px;
  td{
    align-items: center;
    padding: 5px 5px;
  }
  .cmt{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .img{
    display: flex;
    align-items: start;
    margin-right: 10px;
    width: 32px;
    img{
      box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
    }
  }
  .content{
    width: calc(100% - 42px);
  }
  img{
    width: 32px;
    background-color: #fff;
    border-radius: 50%;
  }
}

.quantri_admin .content_admin{
  padding-bottom: 120px;
}

.check_color{
  border:1px solid red !important;
  td{
    background: #D1E2FF;
    border:1px solid #FFF !important;
  }
  td:first-child{
    border-left:1px solid #D1E2FF !important;
  }
  td:last-child{
    border-right:1px solid #D1E2FF !important;
  }
}

ul.price_count{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin: 0px;
  li{
    width: 50%;
  }
}

.quantri_admin .them_giao_dich table table td{
  position: relative;
  .popup_get_data_list,.popup_get_data_list_nv,.pop_ten_khach_san_gd{
    position: absolute;
    width: 713px;
    display: none;
    left: 4px;
    top: 20px;
    background: #fff;
    z-index: 1000;
    padding: 10px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
    ul{
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      li{
        width: 20%;
        border:1px solid #eaeaea;
        margin-left: -1px;
        margin-top: -1px;
        padding: 5px;
        transition: 0.5s;
        display: flex;
        align-items: center;
      }
      li:nth-child(2){
        width: 12%;
      }
      li:nth-child(5){
        width: 28%;
      }
      li:nth-child(4){
        width: 15%;
      }
      li:nth-child(3){
        width: 25%;
      }
    }
    .list_show{
      ul{
        &:hover{
          cursor: pointer;
          li{
            background: #BECF90;
          }
        }
      }
      li{
        font-size: 12px;
        input{
          background: transparent;
          border:none;
          padding: 0 !important;
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
    p{
      width: calc(100% - 5px);
      margin: 0px;
      margin-top: -1px;
      text-align: center;
      border:1px solid #eaeaea;
      padding: 10px;
    }
  }
}


.quantri_admin .them_giao_dich td{
  position: relative;
}
.popup_get_list_mgdlk{
  position: absolute;
  width: 713px;
  //display: none;
  left: 4px;
  top: 20px;
  background: #fff;
  z-index: 1000;
  padding: 10px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
  ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    li{
      width: 20%;
      border:1px solid #eaeaea;
      margin-left: -1px;
      margin-top: -1px;
      padding: 5px;
      transition: 0.5s;
      display: flex;
      align-items: center;
    }
    li:nth-child(2){
      width: 12%;
    }
    li:nth-child(5){
      width: 28%;
    }
    li:nth-child(4){
      width: 15%;
    }
    li:nth-child(3){
      width: 25%;
    }
  }
  .list_show{
    ul{
      &:hover{
        cursor: pointer;
        li{
          background: #BECF90;
        }
      }
    }
    li{
      font-size: 12px;
      input{
        background: transparent;
        border:none;
        padding: 0 !important;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
  p{
    width: calc(100% - 5px);
    margin: 0px;
    margin-top: -1px;
    text-align: center;
    border:1px solid #eaeaea;
    padding: 10px;
  }
}

.popup_get_data_list.pop_ten_nv_dat_phong_dt {
  left: -293px !important;
}

.page .giao_dich_moi table td{
  font-size: 12px;
  padding:0px;
}

.page .giao_dich_moi table tr:first-child td{
  padding:5px 0px;
  a{
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .fa.fa-long-arrow-up{
      color: #64ff64;
      margin-left: 5px;
    }
    .fa.fa-long-arrow-down{
      color: #ff8349;
      margin-left: 5px;
    }
  }
}

.page-template-all_giao_dich,.page-template-all_giao_dich{
  .giao_dich_moi{
    position: relative;
    z-index: 1000000;
  }
}

.single-giao_dich .quantri_admin .them_giao_dich .acf-form-submit {
  text-align: center;
  position: fixed;
  width: 140px;
  bottom: 15px;
  left: 6px !important;
  z-index: 100;
  .sub_tach_giao_dich{
    background: #ECB254;
    color: #000;
    margin-top: -30px;
  }
}

.page-template-tach-booking{
  .acf-form-submit {
    left: 35px !important;
  }
}

.them_giao_dich .alert_tk_sucess {
  margin-bottom: 5px;
}

button.sub_new_giao_dich{
  padding: 0px;
  width: 120px;
  height: 40px;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background: #007bff;
  color: #FFF;
  border-radius: 0px;
  cursor: pointer;
  transition: 0.5s;
}
.page-template-tach-booking .phuc_hoi{
  margin-top: 4px;
  margin-bottom: 10px;
}

.single-giao_dich{
  .alert_tk_fail{
    margin-bottom: -10px;
  }
}

.fix_tach_gd{
  bottom: 15px !important;
}

.page-template-edit_nhan_vien{
  .giao_dich_moi table tr td{
    span:nth-child(2){
      display: none;
    }
  }
}

table#show_chat {
  border: 2px solid #049fce;
}

.add_edit_giao_dich{
  background: green !important;
}

.page-template-tach-booking,.page-template-them-booking{
  .menu_admin ul li:nth-child(2) .sub-menu li:nth-child(2) a {
    background: #000 !important;
    color: #FFF !important;
  }
  .quantri_admin .menu_admin ul li:nth-child(2) .sub-menu{
    display: block !important;
  }
  .quantri_admin .menu_admin ul li:nth-child(2) {
    background: #1A56B2 !important;
  }
}

.page-template-ho_so{
  .ho_so {
    background: #1A56B2;
  }
}

.page .giao_dich_moi table tr:first-child td a{
  position: relative;
  z-index: 9999999999999;
}

.ly_giai_pt{
  background: #9bb552a6 !important;
}

.don_gia_ban_gd,.tong_gd,.don_gia_ban_dt,.tong_dt,.pt_nguoi,
.pt_giai_doan,.pt_cuoi_tuan,.tong_pt,.tien_chua_pt_khac,
.tong_phu_thu_khac,.giam_gia_cho_kh_khac,.tong_gia_tri_khac,
.da_thanh_toan_khac,.kh_con_no_khac,.tien_chua_pt_khac2,
.tong_phu_thu_khac2,.giam_gia_cua_dt_khac2,.tong_gia_tri_khac2,
.da_thanh_toan_khac2,.bct_con_no_khac2,.lai_lo_khac,.thue_vat_khac,
.thue_tndn_khac,.cp_marketing_khac,.cp_hau_can_khac,.cp_hau_mai_khac,
.cp_co_dinh_khac,.tien_coc_1,.tien_tt_lan_2_1,.tien_tt_lan_3_1,
.so_tien_hoan_1,.tien_coc_di_2,.tien_di_lan_2_2,.tien_di_lan_3_2,
.so_tien_hoan_2,.bua_an_bat_buoc,.dich_vu_khac{
  text-align: right;
}
.so_dem_gd,.con_ngay_gd,.sl_gd,.con_ngay_dt,.con_ngay_thay_doi_dt,
.sl_dt,.sl_nl,.gp,.sl02,.sl24,.sl46,.sl612{
  text-align: center;
}

.file_excel{
  display: none;
}

.load_upload_excel{
  display: none;
    i{
      font-size: 16px;
      -webkit-animation:spin 2s linear infinite;
      -moz-animation:spin 2s linear infinite;
      animation:spin 2s linear infinite;
      margin-top: 6px !important;
    }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}

.page-template-edit_nhan_vien .giao_dich_moi table tr td span.hide_active{
  display: none;
}

.page-template-edit_nhan_vien .giao_dich_moi table tr td span:first-child.hide_active{
  display: block;
}

.calendar_hotel{
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  &:after{
    content: "";
    display: block;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0,0,0,0.8);
    position: absolute;
  }
  .date_hotel{
    width:1220px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
  }
  ul{
    width: 100% !important;
    padding: 0px !important;
    padding-top: 10px !important;
  }
  button{
    right: 15px !important;
    top: 10px !important;
    i{
      color: #FFF;
    }
  }
  li{
    width: 120px !important;
    height: auto !important;
    margin-bottom: 10px !important;
  }
  li:last-child{
    width: 120px !important;
  }
  .month_hotel{
    width: 1220px;
    padding: 10px 0px;
    margin: auto;
    position: relative;
    z-index: 1000;
    top: 0px;
    background: #2E74BC;
    .insider{
      display: flex;
      justify-content: center;
      align-items: center;
      h3{
        margin:0px 20px;
        color: #FFF;
      }
      i{
        font-size: 30px;
        cursor: pointer;
        color: #FFF;
      }
    }
  }
  .scene {
    width: 120px;
    height: 120px;
    margin: 0px;
    perspective: 400px;
    .cube {
      width: 120px;
      height: 120px;
      position: relative;
      transform-style: preserve-3d;
      transform: translateZ(-100px);
      transition: transform 1s;
      cursor: pointer;
    }

    .cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
    .cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
    .cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
    .cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
    .cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
    .cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }

    .cube__face {
      position: absolute;
      width: 120px;
      height: 120px;
      //border: 2px solid #ff4b4b;
      font-size: 30px;
      font-weight: bold;
      color: white;
      text-align: center;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      h4{
        margin: 0;
      }
      p{
        margin: 0;
        font-size: 15px;
      }
    }

    .cube__face--front  { background: rgba(  66,195,82, 1); }
    .cube__face--right  { background: rgba( 236,178,84, 1); }
    .cube__face--back   { background: rgba( 59,121,253, 1); }
    .cube__face--left   { background: rgba(4,4,4, 1); }
    .cube__face--top    { background: rgba(255,75,75, 1); }
    .cube__face--bottom { background: rgba(50,55,60, 1); }

    .cube__face--front  { transform: rotateY(  0deg) translateZ(60px); }
    .cube__face--right  { transform: rotateY( 90deg) translateZ(60px); }
    .cube__face--back   { transform: rotateY(180deg) translateZ(60px); }
    .cube__face--left   { transform: rotateY(-90deg) translateZ(60px); }
    .cube__face--top    { transform: rotateX( 90deg) translateZ(60px); }
    .cube__face--bottom { transform: rotateX(-90deg) translateZ(60px); }
  }
  li.calendar_list.active{
    .cube__face--front  { background: rgba(  241,178,84, 1); }
  }
  .option_date_hotel{
    width: 1220px;
    padding: 10px 0px;
    margin: auto;
    position: relative;
    z-index: 1000;
    top: 0px;
    background: #FFF;
    ul{
      display: flex;
      li{
        width: auto !important;
        display: flex;
        align-items: center;
        input{
          width: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 1620px){
  .quantri_admin .content_admin table tr:first-child table tbody tr td:first-child{
    width: 60% !important;
  }
}