.single-km{
  .acf-form-submit {
    text-align: center;
    position: fixed;
    bottom: 15px;
    left: 40px;
    z-index: 100;
  }
  .acf-form-submit input {
    padding: 0px;
    width: 120px;
    height: 40px;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    background: #007bff;
    color: #FFF;
    border-radius: 0px;
    cursor: pointer;
    transition: 0.5s;
  }

  .quantri_admin .menu_admin ul li:nth-child(8) {
    a{
      background: #1A56B2 !important;
    }
    ul{
      display: block !important;
      a{
        background: #32373C !important;
      }
      li:last-child{
        a{
          background: #000 !important;
        }
      }
    }
  }
}

.page-template-them_khuyen_mai,.km-template-default{
  li:nth-child(5){
    width: 100% !important;
    textarea{
      border:1px solid #eaeaea;
      border-radius: 0px;
      outline: none;
      padding-left: 10px;
    }
  }
}