.page-template-login,.page-template-reset-pass{
  background: #fff;
  .site-header{
    display: none;
  }
  .form{
    height: 100vh;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    .alert{
      text-align: center;
      margin-bottom: 10px;
      font-size: 15px;
      .sucess{
        color: green;
        margin-top: -10px;
        display: block;
      }
      .fail{
        color: red;
        margin-top: -10px;
        display: block;
      }
    }
    h1{
      margin: 0;
      font-size: 24px;
      color: #2F56B0;
      &:after{
        content: "";
        display: block;
        width: 50px;
        height: 2px;
        margin: auto;
        background: #2F56B0;
        margin-bottom: 20px;
      }
    }
    .insider{
      width: 500px;
      background: #FFF;
      margin: auto;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      padding: 15px;
      ul{
        padding: 0;
        margin: 0;
        list-style: none;
        li{
          margin-bottom: 10px;
          label{
            display: block;
            width: 100px;
          }
          input{
            width: 100%;
            height: 35px;
            border-radius: 0px;
            outline: none;
            border:1px solid #dedede;
            color: #888;
            &::placeholder{
              color: #888;
            }
          }
        }
      }
      button{
        border: none;
        border-radius: 0px;
        outline: none;
        background: #2F56B0;
        color: #FFF;
        text-transform: uppercase;
        padding: 10px 15px;
        cursor: pointer;
        transition: 0.5s;
        float: left;
        &:hover{
          background: green;
        }
      }
    }
  }
}

.forget_password{
  color: #000;
  font-size: 14px;
  float: right;
  margin-top: 7px;
  transition: 0.5s;
  &:visited {
    color: #000;
  }
  &:hover{
    color: green;
  }
}

.forget_button{
  button{
    i{
      font-size: 16px;
      -webkit-animation:spin 2s linear infinite;
      -moz-animation:spin 2s linear infinite;
      animation:spin 2s linear infinite;
      margin-top: 6px !important;
    }
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}
.info_user{
  display: flex;
  padding: 10px;
  background: #FFF;
  border-right:4px solid red;
  margin-top: -1px;
  .avatar{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 5px;
    background: #FFF;
    display: flex;
    align-items: center;
    img{
      width: 100%;
    }
  }
  .info{
    color: #000;
    font-size: 14px;
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 15px;
    strong{
      font-weight: bold;
    }
    p{
      margin: 0;
      width: 100%;
    }
  }
  button{
    width: 100%;
    display: block;
    background: none;
    border:none;
    outline: none;
    color: red;
    padding: 0px !important;
    text-align: left;
    margin-top: -15px;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
      color: green;
    }
  }
}

.parallax{
  transition: 0s !important;
}

.page-template-reset-pass{
  button{
    width: 100px;
    height: 32px;
    line-height: 32px;
    display: block;
    padding: 0px !important;
  }
}

.sub_code{
  margin-left: 5px;
  background: green !important;
  &:hover{
    background: #ff9900 !important;
  }
}

.sub_not_code{
  @extend .sub_code;
  background: #ef3838 !important;
}

button.load_forget{
  display: none;
}

.get_forget_token{
  display: block;
}

.form_forget_password{
  display: none;
  .alert{
    color: green;
    margin-top: -10px;
    a{
      color: red;
      transition: 0.5s;
      &:hover{
        color: #0d84e3;
      }
    }
  }
}